fastapi
llama_index
numpy
pandas
pydantic
rich
uvicorn
yagooglesearch

llama-index-postprocessor-cohere_rerank
llama-index-llms-ollama 
llama-index-readers-json 
llama-index-multi-modal-llms-ollama
llama-index-embeddings-ollama
llama-index-core 
matplotlib
IPython
moviepy